<html ng-app="testapp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-controller="mainctrl">
	<div>
		<input type="checkbox" ng-model="checkboxModel.value" ng-true-value="'yuvi'" ng-false-value="">
		<span class="form-group" style="float:right;">
			<i class="fa fa-search" for="ip"></i>
			<input id="ip" ng-model="gridSearch" type="text">
		</span>
		<table class="table">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Roll No</th>
				</th>
			</thead>
			<tbody class="{{bodycss}}">
				<tr ng-repeat="dt in infinite|filter:{name:checkboxModel.value}">
					<td>{{$index+1}}</td>
					<td>{{dt.name}}</td>
					<td>{{dt.rollNo}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

<script>
	var app=angular.module("testapp",[]);
	app.controller("mainctrl",function($scope,filterFilter){
		//alert("Yup..");
		$scope.infinite = [{name:"yuvi",rollNo:25},{name:"Jeyam",rollNo:45},{name:"ram",rollNo:23}];
		$scope.uu=filterFilter($scope.infinite,{name:"yuvi"});
		alert("uu...."+JSON.STRINGIFY($scope.uu));
	});
</script>
</html>
